body{
margin: 0%;
padding: 0%;
box-sizing: border-box;
height: 100vh;
display: flex;
justify-content: center;
background: linear-gradient(to right top ,rgb(171, 236, 171) , lightgreen,rgb(77, 143, 77));
}
.rish{
    height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 50px; */
    justify-content: space-around;
}
.rish img{
    border-radius: 10px;
    height: 250px;
}
.rish a{
    text-decoration: none;
    color: rgb(255, 254, 254);
    width: 200px;

    height: 80px;
    background: rgb(18, 247, 132);
    border-radius: 10px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}
.rish div input{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid green;
    padding-left: 10px;
    background: transparent;
    color: whitesmoke;
    font-weight: bolder;
    cursor: text;
}
.rish div button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background:  whitesmoke;
    color: rgb(7, 170, 89);
    font-weight: bolder;
    font-weight: bolder;
    cursor:grabbing;
}
.rish div{
    display: flex;
    gap: 20px;
    /* background-color:honeydew; */
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(7, 7, 7); */
    height: 80px;
    width: 300px;
    border-radius: 10px;
}